.Card_container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    gap: 2rem;
    padding: 2rem;
}
.card:hover{
box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
cursor: pointer;
}
.card_contents{
    padding: 0 12px 0 12px;
}
.card_contents h3{
    text-align: center;
    
}
@media (max-width:550px) {
    .Card_container1{
        width: 90%;
        display: grid;
        grid-template-columns: auto;
    }
}