.main-header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: animate 20s ease-in-out infinite;
}
@keyframes animate {
    0% {
      background-image: url("../assets/images/background.png");
    }
    50% {
      background-image: url("../assets/images/Background2.jpg");
    }
    75% {
      background-image: url("../assets/images/Background1.png");
    }
    100% {
      background-image: url("../assets/images/Service.jpg");
    }
  }
.main-header__content p{
    width: 40%;
    color: white;
}
.main-header__content h1{
    color: white;
    font-weight: bolder;
}
@media (max-width:550px) {
    .main-header{
        height: 50vh;
    }
    .main-header__content p{
        width: 90%;
        margin: 0 auto;
    }
    .main-header__content h1{
       text-align: center;
    }
    .main-header__content button{
            margin: 2rem 0 0 4rem;
    }
}